.env

zigbee2mqtt/data/log
zigbee2mqtt/data/coordinator_backup.json
zigbee2mqtt/data/database.db
zigbee2mqtt/data/state.json

nodered/.npm
nodered/lib
nodered/node_modules
nodered/.config.*
nodered/package.json
nodered/settings.js

mosquitto/log/mosquitto.log
mosquitto/data/mosquitto.db

mariadb/database
mariadb/log
mariadb/custom.cnf

hass-config/*.log*
hass-config/.HA_VERSION
hass-config/.cloud
hass-config/.storage
hass-config/blueprints
hass-config/deps
